absl-py==1.4.0
adal==1.2.7
aiofiles @ file:///home/conda/feedstock_root/build_artifacts/aiofiles_1664378549280/work
aiohttp==3.9.1
aiohttp-cors==0.7.0
aiorwlock==1.4.0
aiosignal==1.3.1
aiosqlite @ file:///home/conda/feedstock_root/build_artifacts/aiosqlite_1682491975081/work
alembic==1.13.1
altair @ file:///home/conda/feedstock_root/build_artifacts/altair_1701735522225/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1702909220329/work
appdirs==1.4.4
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1699370045702/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1692818318753/work
argon2-cffi-bindings @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi-bindings_1695386553988/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1696128962909/work
astor==0.8.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
autopep8==2.0.4
autovizwidget==0.21.0
avro==1.11.3
azure-common==1.1.28
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1702422572539/work
backoff==2.2.1
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1680888073205/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1696630167146/work
blessed==1.20.0
blinker==1.7.0
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1697011463973/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1703154663129/work
boto3==1.34.24
botocore==1.34.24
Bottleneck @ file:///home/conda/feedstock_root/build_artifacts/bottleneck_1696018006395/work
bowler==0.9.0
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==5.3.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1700303426725/work/certifi
certipy==0.1.3
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001724357/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
cloudevents==1.10.1
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorful==0.5.6
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1704278392174/work
conda==23.3.1
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1680508672016/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
configparser==6.0.0
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1699041375599/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1701563208210/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1695545149561/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1697245951516/work
databricks-cli==0.18.0
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1695534290440/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.2.14
deprecation==2.1.0
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1690101045195/work
distlib==0.3.8
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1697249144856/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
docker==6.1.3
docstring-parser==0.15
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1674664118162/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fastapi==0.95.2
fastavro==1.9.3
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1703780968325/work/dist
feast==0.33.1
filelock==3.13.1
fire==0.5.0
fissix==21.11.13
Flask==3.0.1
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1704979841314/work
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1638810296540/work/dist
frozenlist==1.4.1
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1702335961905/work
future==0.18.3
fuzzywuzzy==0.18.0
gitdb==4.0.11
GitPython==3.1.41
google-api-core==2.15.0
google-api-python-client==1.12.11
google-auth==2.26.2
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
gpustat==1.1.1
greenlet==3.0.3
grpcio==1.51.3
grpcio-reflection==1.48.2
gssapi==1.8.3
gunicorn==21.2.0
h11==0.14.0
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1702471424890/work
hdijupyterutils==0.21.0
httpcore==0.16.3
httplib2==0.22.0
httptools==0.6.1
httpx==0.23.3
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
importlib-metadata==6.11.0
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1699364556997/work
ipykernel==6.15.0
ipympl @ file:///home/conda/feedstock_root/build_artifacts/ipympl_1676535632179/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1704718870316/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1694607144474/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1638811571363/work/dist
itsdangerous==2.1.2
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1704966972576/work
jmespath==1.0.1
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1688248289187/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1695397236330/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1705707496704/work
jsonschema-specifications @ file:///tmp/tmpkv1z7p57/src
jupysql==0.9.0
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1699285872613/work
jupyter-server-mathjax==0.2.6
jupyter-telemetry==0.1.0
jupyter-ydoc @ file:///home/conda/feedstock_root/build_artifacts/jupyter_ydoc_1685535850115/work/dist
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1673615989977/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1704727045866/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1705418153950/work
jupyter_server_fileid @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_fileid_1703018575577/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1703611053195/work
jupyter_server_ydoc @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_ydoc_1678043727957/work
jupyterhub==3.1.1
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1695732182725/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1694598704522/work
jupyterlab_git==0.44.0
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1700744013163/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server-split_1700310846957/work
kfp==1.8.22
kfp-pipeline-spec==0.1.16
kfp-server-api==1.8.5
kfserving==0.6.1
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379920604/work
krb5==0.5.1
kserve==0.11.2
kubeflow-kale @ file:///tmp/kale/backend
kubeflow-katib==0.16.0
kubernetes==25.3.0
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1697042855635/work/libmambapy
llvmlite==0.41.1
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lz4 @ file:///home/conda/feedstock_root/build_artifacts/lz4_1704831090180/work
Mako==1.3.1
mamba @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1697042855635/work/mamba
Markdown==3.5.2
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1705778939739/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1697011600307/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1705068285750/work
minio==6.0.2
mistune==2.0.5
ml-metadata==1.14.0
mlflow==2.8.1
mmh3==4.1.0
monotonic==1.6
moreorless==0.4.0
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1700926512836/work
multidict==6.0.4
munkres==1.1.4
mypy==1.8.0
mypy-extensions==1.0.0
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1683202081046/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1684790896106/work
nbconvert==7.2.10
nbdime==3.2.1
nbformat==5.7.3
nest-asyncio==1.5.5
networkx==2.8.8
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1695225629675/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1682360583588/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1699456662604/work
numexpr @ file:///home/conda/feedstock_root/build_artifacts/numexpr_1703356691297/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1668919096335/work
nvidia-ml-py==12.535.133
oauthlib==3.2.2
opencensus==0.11.4
opencensus-context==0.1.3
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1695464696880/work
orjson==3.9.12
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1705794179781/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pamela==1.1.0
pandas==1.5.3
pandavro==1.5.2
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1695667515973/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1704252032614/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
platformdirs==3.11.0
ploomber-core==0.2.22
plotly==5.18.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1693086607691/work
ply==3.11
posthog==3.3.2
presto-python-client==0.8.3
prettytable==3.9.0
progress==1.6
prometheus-client==0.13.1
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
proto-plus==1.23.0
protobuf==3.20.3
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1705722403006/work
psycopg2-binary==2.9.9
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py-spy==0.3.14
pyarrow==11.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1696355758146/work
pycountry==23.12.11
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==1.10.14
pyflakes==3.2.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
PyHive==0.7.0
PyJWT==2.8.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1698795453264/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pyspnego==0.10.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==1.0.0
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
python-rapidjson==1.14
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373611984/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1666828549901/work
qtconsole==5.5.1
QtPy==2.4.1
querystring-parser==1.2.4
ray==2.4.0
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1704489226496/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-kerberos==0.14.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3339-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1638811747357/work
rfc3986==1.5.0
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/rpds-py_1705159806770/work
rsa==4.9
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1698138626992/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1695996834452/work
s3transfer==0.10.0
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1696574834166/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1705882420314/work/dist/scipy-1.12.0-cp311-cp311-linux_x86_64.whl#sha256=10ce7c5430ad9b23f507eba4f6734935e7c5b32fac0e573f30feb03ce9ac36e6
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1682601222253/work
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1697300428897/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==6.4.0
smmap==5.0.1
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
sparkmagic==0.20.3
sparkmagicauthenticator @ file:///tmp/sparkmagicauthenticator
SQLAlchemy==1.4.51
sqlalchemy2-stubs==0.0.2a38
sqlglot==20.9.0
sqlparse==0.4.4
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.27.0
strip-hints==0.1.10
table-logger==0.3.6
tabulate==0.9.0
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1702066284995/work
tenacity==8.2.3
termcolor==2.4.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1699810101464/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1689261241048/work
timing-asgi==0.3.1
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1666100256010/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1695373450800/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1704212992681/work
tritonclient==2.41.1
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
typeguard==2.13.3
typer==0.9.0
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1704512562698/work
typing-utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1622899189314/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1702176139754/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1688655812972/work/dist
uritemplate==3.0.1
urllib3==1.26.18
uvicorn==0.19.0
uvloop==0.19.0
virtualenv==20.21.0
volatile==2.1.0
watchfiles==0.21.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1679900785843/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1694681268211/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1701630677416/work
websockets==12.0
Werkzeug==3.0.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1694598693908/work
wrapt==1.16.0
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1698325309404/work
y-py @ file:///home/conda/feedstock_root/build_artifacts/y-py_1677231021422/work
yarl==1.9.4
ypy-websocket @ file:///home/conda/feedstock_root/build_artifacts/ypy-websocket_1670333059911/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1681770155528/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
zstandard==0.22.0
